{% extends 'base.html' %}

{% block pageheading %}
menu
{% endblock %}

{% block main %}
<div class="category-menu">
    <ul>
        {% for category in categories %}
        <li class="category-item">
            <a href="/menu/{{ category[0] }}">{{ category[1] }}</a>
        </li>
        {% endfor %}
    </ul>
</div>

    <div class="products">

        {%  for product in products %}
        <div class="product-box">
            <div class="product-box-heading"><h2>{{ product[1] }}

            </h2></div>
            <div class="product-box-image"><img src="/static/images/{{ product[4] }}.jpg"></div>
            <div class="product-box-info">{{ product[2] }}</div>
            <div class="product-box-info"><strong>Size: </strong>{{ product[3] }}</div>
            <div class="product-box-info"><strong>Price: </strong>{{ product[5] }}</div>
            {% if ordering %}
            <div class="product-box-info"><a href="/add_to_cart/{{ product[0] }}"> Add to cart </a></div>
            {% endif %}
        </div>
        {% endfor %}

</div>
{% endblock %}